/* Ingresa tu código CSS aquí */
* {
	margin: 0px;
	padding: 0px;
	font-family:'Roboto', sans-serif;;
}
html,body {
	width: 100%;
	height: 100%;
}

header {
	text-align: center;
	color: white;
	height: 88px;
}
nav.nav-header {
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: right;
  padding-top: 1%;
  padding-right: 5%;
}
nav a,.nav-bar a{
	color: white;
	padding-right: 2%;
}
/*nav_bar*/
.navbar-nav>li {
	margin-top: 20px;
    font-size: 16px;
}
.navbar-default{
  margin: 0;
  height: 88px;
  position: fixed;
  z-index: 90;
  width: 100%;
}

.navbar {
	border-radius: 0px;
	border: 1px rgba(0,0,0,0.8);
}

nav a:hover{
	color: #3F98D3;
}
a ,a:hover{
	text-decoration: none;
	
}
.nav-bar {
	width: 100%;
	padding: 1%;
	background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 91;
    top: 0px;
}
.item img {
	width: 100%;
	height: 100%;
}

.col-md-12 {
	padding-right: 0px;
}
.contenedor> .mr {
	margin-right: 0px;
	height: 100%;
}

.color {
	color: skyblue;
}
.head-text {
	font-size: 16px;
	padding-right: 43%;
}
.text {
	padding-bottom: 7%;
    text-align: left;
    right: 13%;
    position: relative;
}
.text >h1 {
    padding-right: 30%;
}